.git
.github
.cache
.claude
.tmp
.vscode
.terraform
**/.terraform
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
__pycache__
*.pyc
.pytest_cache
.venv
venv
dist
build
devnull
docs
infra
openlakeforge_project.egg-info
scripts
vendor
domains/**/target
domains/**/.dbt
